body {
    justify-content: start;
}

.cardWrapper {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    max-width: 80%;
    margin-top: 200px;
    padding-bottom: 100px;      
}

.btnBx{
    position: fixed;
    bottom: 0;    
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .clearButtons {
        display: flex;
        align-items: center;
        width: 80%;
        gap: 20px;
    }
}

.clrAllDvcs input, .clrAllPurch input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c1121f;
    color: white;
    transition: 0.2s;
}

.clrAllDvcs input:hover, .clrAllPurch input:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.card .imgBx {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card p {
    font-size: 1.1rem;
    margin: 8px 0;
}

.card button {
    width: 100%;
    margin: 0.4rem 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.5s;
}

.card button:hover {
    filter: brightness(1.2);
}

.card button#_purchase {
    background-color: #38b000;
}

.card button#_viewProd {
    background-color: #333;
}

.card .editDel {
    margin: 0.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 100%;
    display: flex;  
}
#_left {
    justify-content: start;
}
#_right {
    justify-content: end;
}

.card #_edit, 
.card #_del {
    width: 95%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    transition: 0.3s ease-in-out ;
    cursor: pointer;

    &:hover {
        filter: brightness(1.2);
    }
}

.card #_edit {
    background-color: #FB8500;
}

.card #_del {
    background-color: #c1121f;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    margin: 20px;

    p {
        font-size: 1.2rem;
        color: #333;
    }

    button {
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        transition: 0.5s;
    }
}